<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from='client/src/elems/md-table'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-switch"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-menu"></require>
  <require from="client/src/elems/form"></require>

  <md-drawer>
    <md-input value.bind="filter" style="padding:0 8px">Filter Users</md-input>
    <a
      if.bind=" ! filter"
      class="mdl-navigation__link ${ ! user.email ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectUser({name:{}, account:{_id:session.account._id}})">
      <div name = "pro_new_user" class="mdl-typography--title">New User</div>
    </a>
    <a
      name = "existing_users"
      repeat.for="user of users | userFilter:filter"
      class="mdl-navigation__link ${ user.phone == $parent.user.phone ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectUser(user)">
      <div class="mdl-typography--title">${ user.name.first+' '+user.name.last}</div>
    </a>
  </md-drawer>

  <section class="mdl-grid">

    <dialog ref="dialog" class="mdl-dialog" style="width:800px; top:3%; height:35%;">
      <section class="mdl-grid" style="margin-top:10vh;">
        <form class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--middle" style="width:100%; margin:-75px auto 0; padding:48px 96px 28px 96px; max-width:450px">
          <md-input name = "pro_phone" value.bind="phone" type="tel" pattern="^\d{3}[.-]?\d{3}[.-]?\d{4}$" required>Phone</md-input>
          <md-input name = "pro_password" value.bind="password" type="password" required minlength="4">Password</md-input>
          <md-button
            name = "pro_switch_button"
            raised color form
            if.bind="users.length == 0 || user._id == session._id"
            click.delegate="switchUsers($event)"
            style="padding-top:16px; width:100%">
            ${switchUserText}
          </md-button>
        </form>
      </section>
      <div class="mdl-dialog__actions">
        <md-button click.delegate="closeSwitchUsersDialog()">Close</md-button>
      </div>
    </dialog>

    <form md-shadow="2" class="mdl-card mdl-cell mdl-cell--4-col full-height">
      <div class="mdl-card__title">
        <div class="mdl-card__title-text">
          User Information
        </div>
      </div>
      <div class="mdl-card__supporting-text" style="font-size:16px;" input.delegate="saveUser() & debounce:1000">
        <md-input style="width:49%" value.bind="user.name.first" name = "pro_first_name" required>First Name</md-input>
        <md-input style="width:49%" value.bind="user.name.last" name = "pro_last_name" required>Last Name</md-input>
        <md-input style="width:100%" value.bind="user.email" type="email" name = "pro_email" pattern="[\w._]{2,}@\w{3,}\.(com|org|net|gov)" required>Email</md-input>
        <md-input style="width:100%" value.bind="user.phone" type="tel" name = "pro_phone" pattern="^\d{3}[.-]?\d{3}[.-]?\d{4}$" required>Phone</md-input>
        <md-input style="width:100%" value.bind="user.password" name = "pro_password" if.bind=" ! user._rev" required>Password ${user._rev}</md-input>
      </div>
      <div class="mdl-card__actions">
        <md-button color raised style="width:100%" name = "pro_create_user_button" if.bind="users.length != 0 && ! user._rev" form disabled click.delegate="addUser()">Create User</md-button>
        <md-button color raised name = "pro_switch_user_button" if.bind="users.length == 0 || user._id == session._id" style="width:100%; padding-bottom:10px" click.delegate="showUserSwitchPage()">Switch Users</md-button>
        <md-button color="accent" name = "pro_uninstall_button" raised style="width:100%" if.bind="users.length == 0 || user._id == session._id" click.delegate="logout()" disabled.bind="disableLogout">${ disableLogout || 'Uninstall' }</md-button>
        <md-button color="accent" name = "pro_delete_user_button" raised style="width:100%" if.bind="user._rev && user._id != session._id" click.delegate="deleteUser()">Delete User</md-button>
      </div>
    </form>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--8-col full-height">
      <md-menu name="pro_menu" style="position:absolute; z-index:2; top:10px; right:5px;">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li style="width:200px" disabled.bind="true">
          Export
          <div style="width:80px; float:right;">Import</div>
        </li>
        <a download="Transactions ${csvDate}" href="${csvHref}/transaction.csv"><li>
          Transactions
          <input change.delegate="importCSV($event)" type="file" style="width:80px; float:right; margin-top:15px">
        </li></a>
        <a download="Shipments ${csvDate}" href="${csvHref}/shipment.csv"><li>
          Shipments
          <input change.delegate="importCSV($event)" type="file" style="width:80px; float:right; margin-top:15px">
        </li></a>
        <a download="Accounts ${csvDate}" href="${csvHref}/account.csv"><li>
          Accounts
          <input change.delegate="importCSV($event)" type="file" style="width:80px; float:right; margin-top:15px">
        </li></a>
        <a download="Users ${csvDate}" href="${csvHref}/user.csv"><li>
          Users
          <input change.delegate="importCSV($event)" type="file" style="width:80px; float:right; margin-top:15px">
        </li></a>
        <a download="Drugs ${csvDate}" href="${csvHref}/drug.csv"><li>
          Drugs
          <input change.delegate="importCSV($event)" type="file" style="width:80px; float:right; margin-top:15px">
        </li></a>
      </md-menu>
      <div class="table-wrap">
        <table md-table>
          <thead>
            <tr>
              <th style="width:75px" class="mdl-data-table__cell--non-numeric">Authorized</th>
              <th style="overflow:hidden" class="mdl-data-table__cell--non-numeric">
                <md-select
                  value.bind="type"
                  options.bind="['From', 'To']"
                  style="width:50px; font-weight:bold; margin-bottom:-26px">
                </md-select>
              </th>
              <th style="width:120px" class="mdl-data-table__cell--non-numeric">License</th>
              <th style="width:60px" class="mdl-data-table__cell--non-numeric">Joined</th>
              <th style="width:170px" class="mdl-data-table__cell--non-numeric">Location</th>
            </tr>
          </thead>
          <tr name = "pro_account" repeat.for="account of accounts" if.bind="account != $parent.account">
            <td class="mdl-data-table__cell--non-numeric">
              <md-checkbox
                name = "pro_checkbox"
                if.bind="type != 'To'"
                checked.one-way="$parent.account.authorized.indexOf(account._id) != -1"
                click.delegate="authorize(account._id)">
              </md-checkbox>
              <md-checkbox
                if.bind="type == 'To'"
                checked.one-way="account.authorized.indexOf($parent.account._id) != -1"
                disabled.bind="true">
              </md-checkbox>
            </td>
            <td class="mdl-data-table__cell--non-numeric">${ account.name }</td>
            <td class="mdl-data-table__cell--non-numeric">${ account.license }</td>
            <td class="mdl-data-table__cell--non-numeric">${ account.createdAt | date }</td>
            <td class="mdl-data-table__cell--non-numeric">${ account.city+', '+account.state }</td>
          </tr>
        </table>
      </div>
    </div>

  </section>
  <md-snackbar ref="snackbar"></md-snackbar>
</template>
