<template>
  <require from='elems/md-table'></require>
  <require from='elems/md-shadow'></require>
  <require from='elems/md-drawer'></require>
  <require from="elems/md-input"></require>
  <require from="elems/md-select"></require>
  <require from="elems/md-button"></require>
  <require from="elems/md-menu"></require>
  <require from="elems/md-switch"></require>
  <require from="elems/md-autocomplete"></require>
  <require from="elems/md-snackbar"></require>
  <md-drawer>
    <md-select
      options.bind="['Ordered', 'Inventory < ReorderAt', 'Inventory > ReorderTo', 'Inventory Expiring before Min Days', 'Missing Retail Price', 'Missing Wholesale Price', 'Missing Image']"
      style="padding:0 8px; margin-bottom:-20px"
      disabled.bind="true">
      Quick Search
    </md-select>
    <a
      repeat.for="ordered of drawer.ordered"
      style="font-size:12px; line-height:18px; padding:8px 8px"
      class="mdl-navigation__link ${ ordered == group.name ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectDrawer(ordered)">
      ${ ordered }
    </a>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <form ref="drugForm" md-shadow="2" class="mdl-card mdl-cell mdl-cell--4-col full-height">
      <div class="mdl-card__supporting-text" style="font-size:16px;">
        <md-input
          required
          style="width:49%"
          value.bind="drug._id"
          disabled.bind="drug._rev"
          pattern="\d{4}-\d{4}|\d{5}-\d{3}|\d{5}-\d{4}">
          Product NDC
        </md-input>
        <md-input style="width:49%"
          value.one-way="drug._id ? ('00000'+drug._id.split('-').slice(0,1)).slice(-5)+('0000'+drug._id.split('-').slice(1)).slice(-4) : ''"
          disabled="true">
          NDC9
        </md-input>
        <div if.bind="drug.generics[0].name" style="position:relative">
          <md-button color fab="11"
            show.bind="drug._rev && drug.generics[drug.generics.length-1].name"
            click.delegate="addGeneric()"
            style="position:absolute; left:153px; margin-top:-5px; z-index:1">
            +
          </md-button>
          <md-button color fab="11"
            show.bind="drug._rev && ! drug.generics[drug.generics.length-1].name"
            mousedown.delegate="removeGeneric()"
            style="position:absolute; right:153px; margin-top:-5px; z-index:1">
            -
          </md-button>
        </div>
        <div repeat.for="generic of drug.generics">
          <md-input
            required
            style="width:75%"
            pattern="([A-Z][a-z]+\s?)+"
            disabled.bind=" ! drug._rev"
            value.bind="generic.name">
            ${ $index == 0 ? 'Generic Names & Strengths' : ''}
          </md-input>
          <md-input
            required
            style="width:23%"
            pattern="[0-9][0-9a-z/.]+"
            disabled.bind=" ! drug._rev"
            value.bind="generic.strength">
          </md-input>
        </div>
        <md-input
          style="width:49%"
          pattern="[A-Z][a-z]+"
          value.bind="drug.brand">
          Brand Name
        </md-input>
        <md-input
          required
          style="width:49%"
          pattern="([A-Z][a-z]+\s?)+"
          disabled.bind=" ! drug._rev"
          value.bind="drug.form">
          Form
        </md-input>
        <md-input
          style="width:100%"
          value.bind="drug.labeler">
          Labeler
        </md-input>
        <md-input
          value.bind="drug.price.nadac"
          disabled.bind="! drug._rev"
          type="number"
          step=".0001"
          style="width:49%">
          Nadac Price
        </md-input>
        <md-input
          value.bind="drug.price.goodrx | number:3"
          disabled.bind="! drug._rev"
          type="number"
          step=".0001"
          style="width:49%">
          GoodRx Price
        </md-input>
        <md-input
          pattern="//[a-zA-Z0-9/.\-_%]+"
          value.bind="drug.image"
          style="width:100%; font-size:9px;">
          ${ drug.image ? 'Image' : 'Image URL'}
        </md-input>
        <img
          style="width:100%;"
          if.bind="drug.image"
          src.bind="drug.image">
      </div>
      <div class="mdl-card__actions">
        <!-- <md-button color="accent" raised
          if.bind="drug._rev"
          style="width:100%;"
          disabled
          click.delegate="deleteDrug()">
          Delete Drug
        </md-button> -->
        <md-button color raised
          style="width:100%;"
          click.delegate="drug._rev ? saveDrug() : addDrug()"
          form>
          ${ drug._rev ? 'Save Drug' : 'Add Drug' }
        </md-button>
      </div>
    </form>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--8-col full-height">
      <md-autocomplete
        placeholder="Search Drugs by Generic Name or NDC..."
        value.bind="term"
        input.delegate="search() & debounce:50"
        keydown.delegate="scrollGroups($event) & debounce:50"
        style="margin:0px 16px; padding-right:15px">
        <table md-table>
          <tr
            repeat.for="group of groups"
            click.delegate="selectGroup(group, true)"
            class="${ group.name == $parent.group.name && 'is-selected'}">
            <td
              class="mdl-data-table__cell--non-numeric"
              innerHTML.bind="group.name.replace(regex, '<strong>$1</strong>')">
            </td>
          </tr>
        </table>
      </md-autocomplete>
      <md-menu style="position:absolute; z-index:2; top:10px; right:5px;">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li click.delegate="selectDrug()" class="mdl-menu__item">
          Add Drug
        </li>
        <li click.delegate="exportCSV()" class="mdl-menu__item">
          Export CSV
        </li>
        <li click.delegate="$file.click()" class="mdl-menu__item">
          Import CSV
        </li>
      </md-menu>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <md-switch
        show.bind="group"
        style="position:absolute; right:25px; top:47px; z-index:1"
        checked.one-way="account.ordered[group.name]"
        disabled.bind="! account.ordered[group.name] && ! drug._rev"
        click.delegate="order()">
      </md-switch>
      <div style="width:100%; height:100%; display:flex">
        <div style="overflow-y:scroll; margin:8px 0px 8px 16px; flex:1;">
          <table md-table style="width:calc(100% - 16px);">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Ndc</th>
                <th class="mdl-data-table__cell--non-numeric">Labeler</th>
                <th class="mdl-data-table__cell--non-numeric">Brand</th>
                <th style="text-align:left; width:40px; padding-left:0;">Nadac</th>
                <th style="text-align:left; width:${ account.ordered[group.name] ? '40px' : '85px'}; padding-left:0;">GoodRx</th>
              </tr>
            </thead>
            <tr repeat.for="drug of group.drugs" click.delegate="selectDrug(drug)" class="${ drug._id == $parent.drug._id ? 'is-selected' : ''}">
              <td class="mdl-data-table__cell--non-numeric">${ drug._id }</td>
              <td class="mdl-data-table__cell--non-numeric">${ drug.labeler }</td>
              <td class="mdl-data-table__cell--non-numeric">${ drug.brand }</td>
              <td style="padding:0; text-align:left">${ drug.price.nadac | number:3 }</td>
              <td style="padding:0; text-align:left">${ drug.price.goodrx | number:3 }</td>
            </tr>
          </table>
        </div>
        <div show.bind="account.ordered[group.name]" input.delegate="saveOrder() & debounce:1000" style="overflow:hidden; width:200px; margin-top:10px; margin-right:16px">
          Ordered
          <md-input
            type="number"
            value.bind="(account.ordered[group.name] || {}).minQty"
            placeholder="10"
            style="width:100%">
            Min Qty
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.name] || {}).minDays"
            placeholder="120"
            style="width:100%">
            Min Days
          </md-input>
          <md-input
            value.bind="(account.ordered[group.name] || {}).verifiedMessage"
            style="width:100%; font-size:12px">
            Verified Message
          </md-input>
          <md-input
            value.bind="(account.ordered[group.name] || {}).destroyedMessage"
            style="width:100%; font-size:12px">
            Destroyed Message
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.name] || {}).maxPrice"
            disabled.bind="true"
            style="width:100%">
            Max Price
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.name] || {}).reorderAt"
            disabled.bind="true"
            style="width:100%">
            Reorder At
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.name] || {}).reorderTo"
            disabled.bind="true"
            style="width:100%">
            Reorder To
          </md-input>
        </div>
      </div>
    </div>
    <md-snackbar ref="snackbar"></md-snackbar>
  </section>
</template>
