<template>
  <require from='client/src/elems/md-table'></require>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-menu"></require>
  <require from="client/src/elems/md-switch"></require>
  <require from="client/src/elems/md-autocomplete"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-text"></require>
  <require from="client/src/elems/form"></require>
  <md-drawer>
    <md-select
      options.bind="['Ordered', 'Inventory < ReorderAt', 'Inventory > ReorderTo', 'Inventory Expiring before Min Days', 'Missing Retail Price', 'Missing Wholesale Price', 'Missing Image']"
      style="padding:0 8px;"
      disabled.bind="true">
      Quick Search
    </md-select>
    <a
      repeat.for="ordered of drawer.ordered"
      style="font-size:12px; line-height:18px; padding:8px 8px"
      class="mdl-navigation__link ${ ordered == group.generic ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectDrawer(ordered)">
      ${ ordered }
    </a>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <form md-shadow="2" class="mdl-card mdl-cell mdl-cell--4-col full-height">
      <div class="mdl-card__supporting-text" style="font-size:16px;">
        <div repeat.for="generic of drug.generics">
          <!--
          [1-9]{0,2} is for Vitamins which do not have 0 or 10 and can be up to two digits
          -->
          <md-input
            required.bind=" ! $last"
            name = "pro_gen_field"
            style="width:75%"
            pattern="([A-Z][0-9]{0,2}[a-z]*\s?)+\b"
            value.bind="generic.name"
            input.delegate="setGenericRows(generic, $index, $last) & debounce:500">
            ${ $first ? 'Generic Names & Strengths' : ''}
          </md-input>
          <!--
          limit units:
          https://stackoverflow.com/questions/2078915/a-regular-expression-to-exclude-a-word-string
          ([0-9]+|[0-9]+\.[0-9]+) Numerator must start with an integer or a decimal with leading digit, e.g, 0.3 not .3
          (?!ug|gm|meq|hr)[a-z]* Numerator may have units but must substitute the following ug > mcg, gm > g, meq > ~ mg, hr > h
          (/....)? Denominator is optional
          ([0-9]+|[0-9]+\.[0-9]+)? Numerator may start with an integer or a decimal with leading digit.  Unlike numerator, optional because 1 is implied e.g. 1mg/ml or 24mg/h
          (?!ug|gm|meq|hr)[a-z]*  Numerator may have units but must substitute (see above)
          -->
          <md-input
            style="width:23%"
            pattern="([0-9]+|[0-9]+\.[0-9]+)(?!ug|gm|meq|hr)[a-z]*(/([0-9]+|[0-9]+\.[0-9]+)?(?!ug|gm|meq|hr)[a-z]*)?"
            value.bind="generic.strength"
            input.delegate="setGenericRows(generic, $index, $last) & debounce:500">
          </md-input>
        </div>
        <md-input
          required
          name = "pro_form_field"
          style="width:49%"
          pattern="([A-Z][a-z]+\s?)+\b"
          value.bind="drug.form">
          Form
        </md-input>
        <md-input
          style="width:49%"
          pattern="([A-Z][a-z]*\s?){1,2}\b"
          value.bind="drug.brand">
          Brand Name
        </md-input>
        <md-input
          style="width:100%"
          value.bind="drug.gsns"
          pattern="\d{1,5}(,\d{1,5})*">
          GSNs
        </md-input>
        <md-input
          required
          name = "pro_ndc_field"
          style="width:49%"
          value.bind="drug._id"
          disabled.bind="drug._rev"
          pattern="\d{4}-\d{4}|\d{5}-\d{3}|\d{5}-\d{4}|\d{5}-\d{5}">
          Product NDC
        </md-input>
        <md-input
          style="width:49%"
          value.one-way="drug.ndc9 ? drug.ndc9 : ''"
          disabled="true">
          NDC9
        </md-input>
        <md-input
          style="width:49%"
          value.bind="drug.labeler">
          Labeler
        </md-input>
        <md-input
          type="date"
          style="width:49%"
          value.bind="drug.price.invalidAt">
          Prices Invalid After
        </md-input>
        <md-input
          value.bind="drug.price.goodrx | number"
          type="number"
          step=".0001"
          style="width:32%">
          GoodRx Price
        </md-input>
        <md-input
          value.bind="drug.price.nadac | number"
          type="number"
          step=".0001"
          style="width:32%">
          Nadac Price
        </md-input>
        <md-input
          value.bind="drug.price.retail | number"
          type="number"
          step=".0001"
          style="width:32%">
          Retail Price
        </md-input>
        <md-text
          style="width:100%; font-size:11px"
          value.bind="drug.warning">
          Warning
        </md-text>
        <md-input
          pattern="//[a-zA-Z0-9/.\-_%]+"
          value.bind="drug.image"
          style="width:100%; font-size:9px">
          ${ drug.image ? 'Image' : 'Image URL'}
        </md-input>
        <img
          style="width:100%;"
          if.bind="drug.image"
          src.bind="drug.image">
      </div>
      <div class="mdl-card__actions">
        <!-- <md-button color="accent" raised
          if.bind="drug._rev"
          style="width:100%;"
          disabled
          click.delegate="deleteDrug()">
          Delete Drug
        </md-button> -->
        <md-button color raised
          form = "onchange"
          name = "pro_drug_button"
          style="width:100%;"
          disabled.bind="_savingDrug"
          click.delegate="drug._rev ? saveDrug() : addDrug()"
          form>
          ${ _savingDrug ? 'Saving Drug...' : (drug._rev ? 'Save Drug' : 'Add Drug') }
        </md-button>
      </div>
    </form>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--8-col full-height">
      <md-autocomplete
        name = "pro_searchbar"
        placeholder="Search Drugs by Generic Name or NDC..."
        value.bind="term"
        input.delegate="search() & debounce:50"
        keydown.delegate="scrollGroups($event) & debounce:50"
        style="margin:0px 24px; padding-right:15px">
        <table md-table>
          <tr
            name = "pro_search_res"
            repeat.for="group of groups"
            click.delegate="selectGroup(group, true)"
            class="${ group.generic == $parent.group.generic && 'is-selected'}">
            <td
              style="min-width:70%"
              class="mdl-data-table__cell--non-numeric"
              innerHTML.bind="group.name | bold:term">
            </td>
            <td style="max-width:30%">
              ${ account.ordered[group.generic] ? 'Price:$'+(account.ordered[group.generic].price30 ? account.ordered[group.generic].price30+'/30' : (account.ordered[group.generic].price90 || account.default.price90)+'/90')+' days, Min Qty:'+(account.ordered[group.generic].minQty || account.default.minQty) +', Min Days:'+(ordered[group.generic].minDays ||  account.default.minDays) : ''}
            </td>
          </tr>
        </table>
      </md-autocomplete>
      <md-menu name = "pro_menu" style="position:absolute; z-index:2; top:10px; right:5px;">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li name = "menu_add_drug" if.bind="drug._rev" click.delegate="selectDrug()" class="mdl-menu__item">
          Add Drug
        </li>
        <li name = "menu_add_drug" if.bind=" ! drug._rev" disabled class="mdl-menu__item">
          Add Drug
        </li>
        <li click.delegate="showDefaultsDialog()" class="mdl-menu__item">
          Defaults
        </li>
        <li click.delegate="exportCSV()" class="mdl-menu__item">
          Export CSV
        </li>
        <li click.delegate="$file.click()" class="mdl-menu__item">
          Import CSV
        </li>
        <li>
          USP800
          <md-switch
          name = "hazard_switch"
          checked.one-way="account.hazards[group.generic]"
          disabled.bind="! account.hazards[group.generic] && ! drug._rev"
          click.delegate="markHazard()">
          </md-switch>
        </li>
      </md-menu>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <md-switch
        name = "pro_switch"
        style="position:absolute; right:25px; top:47px; z-index:2"
        checked.one-way="account.ordered[group.generic]"
        disabled.bind="! account.ordered[group.generic] && ! drug._rev"
        click.delegate="order()">
      </md-switch>
      <div class="table-wrap">
        <table md-table style="width:calc(100% - 216px)">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Ndc</th>
              <th class="mdl-data-table__cell--non-numeric">Form</th>
              <th class="mdl-data-table__cell--non-numeric">Labeler</th>
              <th style="text-align:left; width:55px; padding-left:0;">GoodRx</th>
              <th style="text-align:left; width:55px; padding-left:0;">Nadac</th>
              <th style="text-align:left; width:${ account.ordered[group.generic] ? '40px' : '85px'}; padding-left:0;">Retail</th>
            </tr>
          </thead>
          <tr repeat.for="drug of group.drugs" click.delegate="selectDrug(drug)" class="${ drug._id == $parent.drug._id ? 'is-selected' : ''}">
            <td class="mdl-data-table__cell--non-numeric">${ drug._id }</td>
            <td class="mdl-data-table__cell--non-numeric">${ drug.form }</td>
            <td style="overflow:hidden" class="mdl-data-table__cell--non-numeric">${ drug.labeler }</td>
            <td style="padding:0; text-align:left">${ drug.price.goodrx | number:2 }</td>
            <td style="padding:0; text-align:left">${ drug.price.nadac | number:2 }</td>
            <td style="padding:0; text-align:left">${ drug.price.retail | number:2 }</td>
          </tr>
        </table>
        <div show.bind="account.ordered[group.generic]" input.delegate="saveAccount() & debounce:1000" style="background:white; z-index:1; width:200px; margin:10px 8px;">
          <div style="width:100%">Ordered</div>
          <md-input
            disabled
            type="number"
            style="width:49%"
            value.bind="indateInventory">
            Qty > ${ (account.ordered[group.generic] || {}).minDays || account.default.minDays } Days
          </md-input>
          <md-input
            disabled
            type="number"
            style="width:48%"
            value.bind="outdateInventory">
            < ${ (account.ordered[group.generic] || {}).minDays || account.default.minDays } Days
          </md-input>
          <md-input
            type="number"
            step="1"
            placeholder="${ (account.ordered[group.generic] || {}).price90 ? '' : account.default.price30}"
            value.bind="(account.ordered[group.generic] || {}).price30"
            style="width:49%">
            Price 30 Day
          </md-input>
          <md-input
            type="number"
            step="1"
            placeholder="${ (account.ordered[group.generic] || {}).price30 ? '' : account.default.price90}"
            value.bind="(account.ordered[group.generic] || {}).price90"
            style="width:48%">
            90 Day
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.generic] || {}).minDays"
            placeholder="${account.default.minDays}"
            style="width:49%">
            Min Days
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.generic] || {}).minQty"
            placeholder="${account.default.minQty}"
            style="width:48%">
            Min Qty
          </md-input>
          <md-input
            type="number"
            value.bind="(account.ordered[group.generic] || {}).maxInventory"
            placeholder="${account.default.maxInventory}"
            style="width:100%">
            Max Qty > ${ (account.ordered[group.generic] || {}).minDays || account.default.minDays } Days
          </md-input>
          <md-input
            type="number"
            placeholder="${account.default.repackQty}"
            value.bind="(account.ordered[group.generic] || {}).repackQty"
            style="width:100%">
            Repack Qty
          </md-input>
          <md-input
            value.bind="(account.ordered[group.generic] || {}).displayMessage"
            style="width:100%; font-size:12px">
            Display Message
          </md-input>
          <md-input
            value.bind="(account.ordered[group.generic] || {}).destroyedMessage"
            style="width:100%; font-size:12px">
            Destroyed Message
          </md-input>
          <md-input
            value.bind="(account.ordered[group.generic] || {}).verifiedMessage"
            style="width:100%; font-size:12px">
            Verified Message
          </md-input>
        </div>
      </div>
    </div>
    <md-snackbar ref="snackbar"></md-snackbar>
    <dialog ref="dialog" class="mdl-dialog" style="width:800px; top:3%; height:90%; overflow-y:scroll">
    <h4 class="mdl-dialog__title" style="margin-top:0px">Order Defaults</h4>
    <div class="mdl-dialog__content" input.delegate="saveAccount() & debounce:1000">
      <md-input
        type="number"
        value.bind="account.default.maxInventory"
        style="width:100%">
        Default Max Inventory
      </md-input>
      <md-input
        type="number"
        value.bind="account.default.minQty"
        style="width:100%">
        Default Min Qty
      </md-input>
      <md-input
        type="number"
        value.bind="account.default.minDays"
        style="width:100%">
        Default Min Days
      </md-input>
      <md-input
        type="number"
        value.bind="account.default.repackQty"
        style="width:100%">
        Default Repack Qty
      </md-input>
      <md-input
        type="number"
        step="1"
        value.bind="account.default.price30"
        style="width:100%">
        Default Price 30
      </md-input>
      <md-input
        type="number"
        step="1"
        value.bind="account.default.price90"
        style="width:100%">
        Default Price 90
      </md-input>
    </div>
    <div class="mdl-dialog__actions">
      <md-button click.delegate="closeDefaultsDialog()">Close</md-button>
    </div>
  </dialog>
  </section>
</template>
