<template>
  <require from='elems/md-shadow'></require>
  <require from='elems/md-drawer'></require>
  <require from='elems/md-table'></require>
  <require from="elems/md-input"></require>
  <require from="elems/md-select"></require>
  <require from="elems/md-button"></require>
  <require from="elems/md-switch"></require>
  <require from="elems/md-snackbar"></require>
  <require from="elems/md-checkbox"></require>
  <require from="elems/md-autocomplete"></require>
  <style>
    .mdl-badge[data-badge]:after { font-size:9px; height:14px; width:14px; top:1px}
    .mdl-textfield__label { color:black; font-size:1rem }
  </style>
  <md-drawer>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--3-col full-height hide-when-printed"> <!-- ${ !repack || 'background:rgba(0,88,123,.3)' } -->
      <div class="mdl-card__supporting-text" style="padding:0">
        <div repeat.for="ndc of filter.ndc | toArray:true" class="mdl-grid" style="padding:0 0 0 8px; margin-top:-8px">
          <div if.bind="$index == 0" class="mdl-card__title mdl-grid" style="padding:16px 0 0 0; width:100%">
            <div class="mdl-cell mdl-cell--6-col">Ndc Filter</div>
            <div class="mdl-cell mdl-cell--2-col">Qty</div>
            <div class="mdl-cell mdl-cell--2-col">Count</div>
          </div>
          <md-checkbox class="mdl-cell mdl-cell--6-col" click.delegate="signalFilter(ndc)" checked.bind="ndc.val.isChecked">${ndc.key}</md-checkbox>
          <div class="mdl-cell mdl-cell--2-col">${ndc.val.qty}</div>
          <div class="mdl-cell mdl-cell--2-col">${ndc.val.count}</div>
        </div>
        <div repeat.for="exp of filter.exp | toArray:true" class="mdl-grid" style="padding:0 0 0 8px; margin-bottom:-8px">
          <div if.bind="$index == 0" class="mdl-card__title mdl-grid" style="padding:0; width:100%">
            <div class="mdl-cell mdl-cell--6-col">Exp Filter</div>
          </div>
          <md-checkbox class="mdl-cell mdl-cell--6-col" click.delegate="signalFilter(exp)" checked.bind="exp.val.isChecked">${exp.key.slice(0, 10)}</md-checkbox>
          <div class="mdl-cell mdl-cell--2-col">${exp.val.qty}</div>
          <div class="mdl-cell mdl-cell--2-col">${exp.val.count}</div>
        </div>
        <!-- <md-input show.bind="group.transactions.length" input.delegate="signalFilter()" value.bind="filter.rx" style="margin-left:16px;" class="mdl-cell mdl-cell--10-col">Rx Filter</md-input> -->
      </div>
      <div class="mdl-card__actions">
        <md-button color raised
          style="width:100%"
          disabled.bind=" ! group.transactions.length"
          click.delegate="repackInventory()">
          ${'Repack Selected'}
        </md-button>
      </div>
    </div>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--9-col full-height">
      <md-autocomplete
        placeholder="Search Drugs by Generic Name..."
        value.bind="term"
        input.delegate="search()"
        keyup.delegate="scrollGroups($event)"
        style="margin:0px 16px; padding-right:15px">
        <table md-table>
          <tr
            repeat.for="group of groups"
            click.delegate="selectGroup(group)"
            class="${ group.name == $parent.group.name && 'is-selected'}">
            <td
              class="mdl-data-table__cell--non-numeric"
              innerHTML.bind="group.name.replace(regex, '<strong>$1</strong>')">
            </td>
          </tr>
        </table>
      </md-autocomplete>
      <div style="width:100%; height:100%; display:flex">
        <div style="overflow-y:scroll; margin:8px 0px 8px 16px; flex:1;">
          <table md-table style="width:calc(100% - 16px);">
            <thead>
              <tr>
                <th style="width:15px"></th>
                <th class="mdl-data-table__cell--non-numeric">Drug</th>
                <th class="mdl-data-table__cell--non-numeric">Ndc</th>
                <th style="text-align:left; width:40px;">Exp</th>
                <th style="text-align:left; width:40px;">Qty</th>
                <!-- <th style="text-align:left; width:40px;">Rx</th> -->
                <th style="text-align:left; width:40px;">Box</th>
              </tr>
            </thead>
            <tr repeat.for="transaction of group.transactions | inventoryFilter:filter" input.delegate="saveTransaction(transaction) & debounce:1000">
              <td style="padding:0 0 0 8px">
                <md-checkbox checked.bind="transaction.isChecked"></md-checkbox>
              </td>
              <td class="mdl-data-table__cell--non-numeric">${ transaction.drug.generic }</td>
              <td class="mdl-data-table__cell--non-numeric">${ transaction.drug._id + (transaction.drug.pkg ? '-'+transaction.drug.pkg : '')}</td>
              <td style="padding:0">
                <md-input
                  id.bind="'exp_'+$index"
                  keydown.delegate="expShortcuts($event, $index)"
                  pattern="(0?[1-9]|1[012])/\d{2}"
                  value.bind="transaction.exp.to | date"
                  style="width:40px; margin-bottom:-8px"
                  placeholder>
                </md-input>
              </td>
              <td style="padding:0">
                <md-input
                  id.bind="'qty_'+$index"
                  keydown.delegate="qtyShortcuts($event, $index)"
                  type="number"
                  value.bind="transaction.qty.to | number"
                  style="width:40px; margin-bottom:-8px"
                  placeholder>
                </md-input>
              </td>
              <!-- <td style="padding:0">
                <md-input
                  value.bind="transaction.rx.from"
                  style="width:40px; margin-bottom:-8px"
                  placeholder>
                </md-input>
              </td> -->
              <td style="padding:0">
                <md-input
                  id.bind="'box_'+$index"
                  keydown.delegate="boxShortcuts($event, $index)"
                  pattern="[A-Z]\d{3}"
                  value.bind="transaction.location"
                  style="width:40px; margin-bottom:-8px"
                  placeholder>
                </md-input>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <md-snackbar ref="snackbar"></md-snackbar>
  </section>
</template>
