<template>
  <require from='elems/md-shadow'></require>
  <require from='elems/md-drawer'></require>
  <require from='elems/md-table'></require>
  <require from="elems/md-input"></require>
  <require from="elems/md-select"></require>
  <require from="elems/md-button"></require>
  <require from="elems/md-switch"></require>
  <require from="elems/md-snackbar"></require>
  <require from="elems/md-checkbox"></require>
  <require from="elems/md-autocomplete"></require>
  <require from="elems/md-menu"></require>
  <require from="elems/form"></require>
  <style>
    .mdl-button:hover { background-color:initial }
    .mdl-badge[data-badge]:after { font-size:9px; height:14px; width:14px; top:1px}
  </style>
  <md-drawer>
    <md-input
      autoselect
      style="padding:0 8px; width:auto">
      Filter pending inventory
    </md-input>
    <a
      repeat.for="group of pending | toArray:term"
      class="mdl-navigation__link ${ term == 'Pending '+group.key ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectGroup('pending', group.key)">
      <div class="mdl-typography--title">${group.val[0].drug.generic}</div>
      ${ group.key.slice(0, 16) }, ${ group.val.length } items
    </a>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--3-col full-height hide-when-printed"> <!-- ${ !repack || 'background:rgba(0,88,123,.3)' } -->
      <div show.bind="transactions.length" class="mdl-card__supporting-text" style="padding-left:24px; white-space:nowrap">
        <div repeat.for="ndc of filter.ndc | toArray:true">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:4px 0 8px 0">
            <div style="width:60%">Ndc Filter</div>
            <div style="width:20%">Qty</div>
            <div style="width:20%">Count</div>
          </div>
          <md-checkbox style="width:60%; margin-bottom:3px" click.delegate="signalFilter(ndc)" checked.bind="ndc.val.isChecked">${ndc.key}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${ndc.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${ndc.val.count}</div>
        </div>
        <div repeat.for="exp of filter.exp | toArray:true" style="padding:0">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Exp Filter</div>
          </div>
          <md-checkbox style="width:60%; margin-bottom:3px" click.delegate="signalFilter(exp)" checked.bind="exp.val.isChecked">${exp.key.slice(0, 10)}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${exp.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${exp.val.count}</div>
        </div>
        <div repeat.for="repack of filter.repack | toArray:true" style="padding:0">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Repack Filter</div>
          </div>
          <md-checkbox style="width:60%; margin-bottom:3px" click.delegate="signalFilter(repack)" checked.bind="repack.val.isChecked">${repack.key}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${repack.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${repack.val.count}</div>
        </div>
        <div repeat.for="form of filter.form | toArray:true" style="padding:0">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Form Filter</div>
          </div>
          <md-checkbox style="width:60%; margin-bottom:3px" click.delegate="signalFilter(form)" checked.bind="form.val.isChecked">${form.key}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${form.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${form.val.count}</div>
        </div>
        <!-- <md-input show.bind="transactions.length" input.delegate="signalFilter()" value.bind="filter.rx" style="margin-left:16px;" class="mdl-cell mdl-cell--10-col">Rx Filter</md-input> -->
      </div>
    </div>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--9-col full-height">
      <md-autocomplete
        placeholder.bind="placeholder"
        value.bind="term"
        input.delegate="search()"
        keyup.delegate="scrollGroups($event)"
        style="margin:0px 24px; padding-right:15px">
        <table md-table>
          <tr
            repeat.for="group of groups"
            click.delegate="selectGroup('drug.generic', group)"
            class="${ group == $parent.term && 'is-selected'}">
            <td
              style="white-space:normal; max-width:70%"
              class="mdl-data-table__cell--non-numeric"
              innerHTML.bind="group | bold:regex">
            </td>
            <td style="max-width:30%">
              ${ ordered[group] ? 'Min Qty:'+(ordered[group].minQty || 10) +', Min Days:'+(ordered[group].minDays || 120) : ''}
            </td>
          </tr>
        </table>
      </md-autocomplete>
      <md-menu click.delegate="openMenu($event)" style="position:absolute; z-index:2; top:10px; right:5px;">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li
          click.delegate="exportCSV()">
          Export CSV
        </li>
        <li class="mdl-menu__item--full-bleed-divider"
          click.delegate="$file.click()">
          Import CSV
        </li>
        <li
          disabled.bind=" ! transactions.length"
          click.delegate="term.slice(0,7) == 'Pending' ? unpendInventory() : pendInventory()">
          ${ term.slice(0,7) == 'Pending' ? 'Unpend Selected' : 'Pend Selected'}
        </li>
        <li
          disabled.bind=" ! transactions.length"
          click.delegate="dispenseInventory()">
          Dispense Selected
        </li>
        <form>
          <li form
            click.delegate="repackInventory()">
            Repack Selected
          </li>
          <li>
            <md-input
              required
              value.bind="repack.size | number"
              input.delegate="setRepackVials()"
              style="width:40px;">
              Qty
            </md-input>
            <md-input
              required
              value.bind="repack.vials | number"
              style="width:40px;">
              Vials
            </md-input>
            <md-input
              required
              value.bind="repack.exp | date"
              style="width:40px;">
              Exp
            </md-input>
            <md-input
              required
              value.bind="repack.location"
              pattern="[A-Z]\d{2}"
              style="width:40px;">
              Bin
            </md-input>
          </li>
        </form>
      </md-menu>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <div class="table-wrap">
        <table md-table>
          <thead>
            <tr>
              <th style="width:50px; padding:0">
                <md-checkbox click.delegate="checkAllTransactions()" checked.bind="allChecked"></md-checkbox>
              </th>
              <th class="mdl-data-table__cell--non-numeric" style="padding-left:0">Drug</th>
              <th class="mdl-data-table__cell--non-numeric">Form</th>
              <th class="mdl-data-table__cell--non-numeric">Ndc</th>
              <th style="text-align:left; width:60px;">Exp</th>
              <th style="text-align:left; width:60px;">Qty</th>
              <th style="text-align:left; width:60px;">Bin</th>
              <th style="width:60px"></th>
            </tr>
          </thead>
          <tr repeat.for="transaction of transactions | inventoryFilter:filter" input.delegate="saveTransaction(transaction) & debounce:1000">
            <td style="padding:0">
              <md-checkbox click.delegate="checkTransaction(transaction)" checked.bind="transaction.isChecked"></md-checkbox>
            </td>
            <td class="mdl-data-table__cell--non-numeric" style="padding-left:0">${ transaction.drug.generic }</td>
            <td class="mdl-data-table__cell--non-numeric">${ transaction.drug.form }</td>
            <td class="mdl-data-table__cell--non-numeric">${ transaction.drug._id + (transaction.drug.pkg ? '-'+transaction.drug.pkg : '')}</td>
            <td style="padding:0">
              <md-input
                id.bind="'exp_'+$index"
                required
                keydown.delegate="expShortcuts($event, $index)"
                pattern="(0?[1-9]|1[012])/\d{2}"
                value.bind="transaction.exp.to | date"
                style="width:40px; margin-bottom:-8px"
                placeholder>
              </md-input>
            </td>
            <td style="padding:0">
              <md-input
                id.bind="'qty_'+$index"
                required
                keydown.delegate="qtyShortcuts($event, $index)"
                disabled.bind="transaction.next.length"
                type="number"
                value.bind="transaction.qty.to | number"
                style="width:40px; margin-bottom:-8px"
                max.bind="999"
                placeholder>
              </md-input>
            </td>
            <!-- <td style="padding:0">
              <md-input
                value.bind="transaction.rx.from"
                style="width:40px; margin-bottom:-8px"
                placeholder>
              </md-input>
            </td> -->
            <td style="padding:0">
              <md-input
                id.bind="'bin_'+$index"
                required
                keydown.delegate="binShortcuts($event, $index)"
                keyup.delegate="saveTransaction(transaction) & debounce:1000"
                pattern="[A-Z]\d{2,3}"
                value.bind="transaction.location | upperCase"
                style="width:40px; margin-bottom:-8px"
                maxlength.bind="4"
                placeholder>
              </md-input>
            </td>
            <td style="padding:0 0 0 16px">
              <i show.bind="isRepacked(transaction)" class="material-icons" style="font-size:20px">delete_sweep</i>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <md-snackbar ref="snackbar"></md-snackbar>
  </section>
</template>
