<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from='client/src/elems/md-table'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-switch"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-autocomplete"></require>
  <require from="client/src/elems/md-menu"></require>
  <require from="client/src/elems/form"></require>
  <style>
    .mdl-button:hover { background-color:initial }
    .mdl-badge[data-badge]:after { font-size:9px; height:14px; width:14px; top:1px}
  </style>
  <md-drawer>
    <md-input
      autoselect
      style="padding:0 8px; width:auto">
      Filter pending inventory
    </md-input>
    <div repeat.for="pendingDrug of pending | toArray">
      <div class="mdl-typography--title" style="font-size:12px; font-weight:600; cursor:default; color:#757575; padding:8px">${pendingDrug.key}</div>
      <div
        name="pro_pended_items"
        repeat.for="pendingAt of pendingDrug.val | toArray"
        click.delegate="selectTerm('pending', pendingDrug.key+': '+pendingAt.key)"
        class="mdl-navigation__link ${ term == 'Pending '+pendingDrug.key+': '+pendingAt.key.slice(5, 19) ? 'mdl-navigation__link--current' : ''}"
        style="cursor:pointer; padding-top:2px; padding-bottom:2px">
        ${ pendingAt.key.slice(5, 16).replace('T', ' ') }, ${ pendingAt.val.length } items
      </div>
    </div>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--3-col full-height hide-when-printed"> <!-- ${ !repack || 'background:rgba(0,88,123,.3)' } -->
      <div show.bind="transactions.length" class="mdl-card__supporting-text" style="padding-left:24px; white-space:nowrap">
        <div>
          <div class="mdl-card__title" style="padding:4px 0 8px 0">
            <div style="width:60%"></div>
            <div style="width:20%">Qty</div>
            <div style="width:20%">Count</div>
          </div>
          <md-checkbox name = "pro_checkall" style="width:60%; margin-bottom:3px" click.delegate="toggleVisibleChecks()" checked.bind="filter.checked.visible">Selected</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${filter.checked.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${filter.checked.count}</div>
        </div>
        <div name = "pro_ndc_filter" repeat.for="ndc of filter.ndc | toArray:true">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Ndc Filter</div>
          </div>
          <md-checkbox name = "pro_checkbox" style="width:60%; margin-bottom:3px" click.delegate="refreshFilter(ndc)" checked.bind="ndc.val.isChecked">${ndc.key}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${ndc.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${ndc.val.count}</div>
        </div>
        <div name = "pro_exp_filter" repeat.for="exp of filter.exp | toArray:true" style="padding:0">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Exp Filter</div>
          </div>
          <md-checkbox name = "pro_checkbox" style="width:60%; margin-bottom:3px" click.delegate="refreshFilter(exp)" checked.bind="exp.val.isChecked">${exp.key.slice(0, 10)}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${exp.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${exp.val.count}</div>
        </div>
        <div name = "pro_repack_filter" repeat.for="repack of filter.repack | toArray:true" style="padding:0">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Repack Filter</div>
          </div>
          <md-checkbox name = "pro_checkbox" style="width:60%; margin-bottom:3px" click.delegate="refreshFilter(repack)" checked.bind="repack.val.isChecked">${repack.key}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${repack.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${repack.val.count}</div>
        </div>
        <div name = "pro_form_filter" repeat.for="form of filter.form | toArray:true" style="padding:0">
          <div if.bind="$index == 0" class="mdl-card__title" style="padding:16px 0 4px 0">
            <div style="width:60%">Form Filter</div>
          </div>
          <md-checkbox name = "pro_checkbox" style="width:60%; margin-bottom:3px" click.delegate="refreshFilter(form)" checked.bind="form.val.isChecked">${form.key}</md-checkbox>
          <div style="width:18%; display:inline-block; vertical-align:top">${form.val.qty}</div>
          <div style="width:18%; display:inline-block; vertical-align:top">${form.val.count}</div>
        </div>
      </div>
      <div class="mdl-card__actions">
        <md-button show.bind="type" click.delegate="selectInventory(type, term)">Show All Results</md-button>
      </div>
    </div>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--9-col full-height">
      <md-autocomplete
        name = "pro_searchbar"
        placeholder.bind="placeholder"
        value.bind="term"
        input.delegate="search() & debounce"
        keyup.delegate="scrollTerms($event)"
        style="margin:0px 24px; padding-right:15px">
        <table md-table>
          <tr
            name = "pro_search_res"
            repeat.for="term of terms"
            click.delegate="selectTerm('drug.generic', term)"
            class="${ term == $parent.term && 'is-selected'}">
            <td
              style="white-space:normal; max-width:70%"
              class="mdl-data-table__cell--non-numeric"
              innerHTML.bind="term | bold:$parent.term">
            </td>
            <td style="max-width:30%">
              ${ ordered[term] ? 'Price:$'+(ordered[term].price30 ? ordered[term].price30+'/30' : ordered[term].price90+'/90')+' days, Min Qty:'+(ordered[term].minQty || 1) +', Min Days:'+(ordered[term].minDays || 60) : ''}
            </td>
          </tr>
        </table>
      </md-autocomplete>
      <md-menu name="pro_menu" click.delegate="openMenu($event)" style="position:absolute; z-index:2; top:10px; right:5px;">
        <li
          name = "pro_dispense"
          disabled.bind=" ! filter.checked.count"
          click.delegate="dispenseInventory()">
          Dispense Selected
        </li>
        <li
          class="mdl-menu__item--full-bleed-divider"
          disabled.bind=" ! filter.checked.count"
          click.delegate="disposeInventory()">
          Dispose Selected
        </li>
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li
          name="pro_pend"
          show.bind="term.slice(0,7) == 'Pending'"
          disabled.bind=" ! filter.checked.count"
          click.delegate="unpendInventory()">
          Unpend Selected
        </li>
        <li
          repeat.for="group of pending[transactions[0].drug.generic] | toArray"
          show.bind="filter.checked.count && (term != 'Pending '+transactions[0].drug.generic+': '+group.key.slice(5, 19))"
          name="pro_pend"
          class="mdl-menu__item"
          click.delegate="pendInventory(group.key)">
          Pend to ${group.key.slice(5, 16).replace('T', ' ') }
        </li>
        <li
          name="pro_pend"
          disabled.bind=" ! filter.checked.count"
          click.delegate="pendInventory()"
          class="mdl-menu__item--full-bleed-divider">
          Pend to New
        </li>
        <form>
          <li form
            name="pro_repack_selected"
            disabled.bind=" ! repack.drug || ! filter.checked.count"
            click.delegate="repackInventory()">
            Repack Selected
          </li>
          <li>
            <md-input
              required
              type="number"
              name = "pro_repack_qty"
              value.bind="repack.vialQty"
              max.bind="repack.totalQty/(repack.vials >= 1 ? repack.vials : 1)"
              input.delegate="setRepackVials()"
              disabled.bind=" ! filter.checked.count"
              style="width:40px;">
              Qty
            </md-input>
            <md-input
              required
              type="number"
              name = "pro_repack_vials"
              value.bind="repack.vials"
              max.bind="repack.totalQty/repack.vialQty"
              min="1"
              disabled.bind=" ! filter.checked.count"
              style="width:40px;">
              Vials
            </md-input>
            <md-input
              required
              name = "pro_repack_exp"
              value.bind="repack.exp | date"
              disabled.bind=" ! filter.checked.count"
              style="width:40px;">
              Exp
            </md-input>
            <md-input
              required
              name = "pro_repack_bin"
              value.bind="repack.bin"
              pattern="[A-Z]\d{2}"
              disabled.bind=" ! filter.checked.count"
              style="width:40px;">
              Bin
            </md-input>
          </li>
        </form>
      </md-menu>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <div class="table-wrap">
        <table md-table>
          <thead>
            <tr>
              <th style="width:50px; padding:0"></th>
              <th class="mdl-data-table__cell--non-numeric" style="padding-left:0">Drug</th>
              <th class="mdl-data-table__cell--non-numeric">Form</th>
              <th class="mdl-data-table__cell--non-numeric">Ndc</th>
              <th style="text-align:left; width:60px;">Exp</th>
              <th style="text-align:left; width:60px;">Qty</th>
              <th style="text-align:left; width:60px;">Bin</th>
              <th style="width:60px"></th>
            </tr>
          </thead>
          <tr name = "pro_transaction" repeat.for="transaction of transactions | inventoryFilter:filter:term" input.delegate="saveAndReconcileTransaction(transaction) & debounce:1000">
            <td style="padding:0">
              <md-checkbox name = "pro_transaction_checkbox" click.delegate="toggleCheck(transaction)" checked.bind="transaction.isChecked"></md-checkbox>
            </td>
            <td class="mdl-data-table__cell--non-numeric" style="padding-left:0">${ transaction.drug.generic }</td>
            <td class="mdl-data-table__cell--non-numeric">${ transaction.drug.form }</td>
            <td class="mdl-data-table__cell--non-numeric">${ transaction.drug._id + (transaction.drug.pkg ? '-'+transaction.drug.pkg : '')}</td>
            <td style="padding:0">
              <md-input
                name = "pro_transaction_exp"
                id.bind="'exp_'+$index"
                required
                keydown.delegate="expShortcuts($event, $index)"
                pattern="(0?[1-9]|1[012])/\d{2}"
                value.bind="transaction.exp.to | date"
                style="width:40px; margin-bottom:-8px"
                placeholder>
              </md-input>
            </td>
            <td style="padding:0">
              <md-input
                name = "pro_transaction_qty"
                id.bind="'qty_'+$index"
                required
                keydown.delegate="qtyShortcutsKeydown($event, $index)"
                input.trigger="qtyShortcutsInput($event, $index)"
                disabled.bind="transaction.next[0] && ! transaction.next[0].pending"
                type="number"
                value.bind="transaction.qty.to | number"
                style="width:40px; margin-bottom:-8px"
                max.bind="3000"
                placeholder>
              </md-input>
            </td>
            <!-- <td style="padding:0">
              <md-input
                value.bind="transaction.rx.from"
                style="width:40px; margin-bottom:-8px"
                placeholder>
              </md-input>
            </td> -->
            <td style="padding:0">
              <md-input
                name = "pro_transaction_bin"
                id.bind="'bin_'+$index"
                required
                keydown.delegate="binShortcuts($event, $index)"
                pattern="[A-Z]\d{2}|[A-Za-z]\d{3}"
                value.bind="transaction.bin"
                style="width:40px; margin-bottom:-8px"
                maxlength.bind="4"
                placeholder>
              </md-input>
            </td>
            <td name="pro_repack_icon" style="padding:0 0 0 16px">
              <i name="pro_icon" click.delegate="showHistoryDialog(transaction._id)" show.bind="isRepacked(transaction)" class="material-icons" style="font-size:20px; cursor:pointer">delete_sweep</i>
              <i name="pro_icon" click.delegate="showHistoryDialog(transaction._id)" show.bind="! isRepacked(transaction)" class="material-icons show-on-hover" style="font-size:20px; margin-left:-2px; margin-right:2px; cursor:pointer">history</i>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <md-snackbar ref="snackbar"></md-snackbar>
    <dialog ref="dialog" class="mdl-dialog" style="width:800px; top:3%; height:90%; overflow-y:scroll">
    <h4 class="mdl-dialog__title" style="margin-top:0px">History</h4>
    <div class="mdl-dialog__content" innerhtml.bind="history" style="white-space:pre-wrap; font-family:monospace;"></div>
    <div class="mdl-dialog__actions">
      <md-button click.delegate="closeHistoryDialog()">Close</md-button>
    </div>
  </dialog>
  </section>
</template>
