<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-loading"></require>
  <require from="client/src/elems/form"></require>
  <style>md-input { height:65px }</style>
  <section class="mdl-grid" style="height:80vh;">
    <form class="mdl-cell mdl-cell--11-col mdl-cell--middle mdl-grid" style="margin:0 auto; max-width:930px">
      <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--6-col" style="padding:16px">
        <div class="mdl-card__title" style="padding-left:0">
          <div class="mdl-card__title-text">
            Register Your Facility
          </div>
        </div>
        <md-input value.bind="account.name" name = "pro_facility" required>Facility</md-input>
        <md-input value.bind="account.license" name = "pro_license" required>License</md-input>
        <md-input value.bind="account.phone" type="tel" name = "pro_facility_phone" pattern="^\d{3}[.-]?\d{3}[.-]?\d{4}$" required>Facility Phone</md-input>
        <md-input value.bind="account.street" name = "pro_street" required>Street</md-input>
        <div class="mdl-grid" style="padding:0; margin:0 -8px">
          <md-input value.bind="account.city" name = "pro_city" class="mdl-cell mdl-cell--7-col" required>City</md-input>
          <md-input value.bind="account.state" name = "pro_state" pattern="^[A-Z]{2}$" class="mdl-cell mdl-cell--2-col" required>State</md-input>
          <md-input value.bind="account.zip" name = "pro_zip" pattern="^\d{5}$" class="mdl-cell mdl-cell--3-col" required>Zip</md-input>
        </div>
      </div>
      <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--6-col" style="padding:16px">
        <div class="mdl-grid" style="padding:0; margin:-8px">
          <md-input value.bind="user.name.first" name = "pro_first_name" class="mdl-cell mdl-cell--6-col" required>First Name</md-input>
          <md-input value.bind="user.name.last" name = "pro_last_name" class="mdl-cell mdl-cell--6-col" required>Last Name</md-input>
        </div>
        <md-input value.bind="user.email" type="email" name = "pro_email" pattern="[\w._-]{2,}@[\w_-]{3,}\.(com|org|net|gov)" required>Email</md-input>
        <md-input value.bind="user.phone" type="tel" name = "pro_personal_phone" pattern="^\d{3}[.-]?\d{3}[.-]?\d{4}$" required>Personal Phone</md-input>
        <md-input value.bind="user.password" name = "pro_password" required>Password</md-input>
        <md-checkbox checked.bind="accept" name = "pro_checkbox" style="margin:20px 0 28px" required>I accept the terms of use</md-checkbox>
        <md-button raised color form disabled.bind="disabled" name = "pro_install" click.delegate="join()">Install</md-button>
        <md-loading value.bind="progress.docs_read/progress.doc_count * 100"></md-loading>
        <span class="mdl-color-text--grey-600" style="margin-top:10px; height:20px; font-size:9px; margin-bottom:-8px">${ progress.percent } ${ loading }</span>
      </div>
    </form>
  </section>
  <md-snackbar ref="snackbar"></md-snackbar>
</template>
