<template>
  <require from='elems/md-shadow'></require>
  <require from='elems/md-drawer'></require>
  <require from="elems/md-input"></require>
  <require from="elems/md-select"></require>
  <require from="elems/md-button"></require>
  <require from="elems/md-checkbox"></require>
  <require from="elems/md-snackbar"></require>
  <require from="elems/md-loading"></require>
  <style>md-input { height:65px }</style>
  <section class="mdl-grid" style="height:80vh;">
    <form class="mdl-cell mdl-cell--11-col mdl-cell--middle mdl-grid" style="margin:0 auto; max-width:930px">
      <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--6-col" style="padding:16px">
        <div class="mdl-card__title" style="padding-left:0">
          <div class="mdl-card__title-text">
            Register Your Facility
          </div>
        </div>
        <md-input value.bind="account.name" required>Facility</md-input>
        <md-input value.bind="account.license" required>License</md-input>
        <md-input value.bind="account.street" required>Street</md-input>
        <div class="mdl-grid" style="padding:0; margin:0 -8px">
          <md-input value.bind="account.city" class="mdl-cell mdl-cell--7-col" required>City</md-input>
          <md-input value.bind="account.state" class="mdl-cell mdl-cell--2-col" required>State</md-input>
          <md-input value.bind="account.zip" class="mdl-cell mdl-cell--3-col" required>Zip</md-input>
        </div>
        <span class="mdl-color-text--grey-600" style="margin-top:10px; height:20px; font-size:9px; margin-bottom:-8px">${ loading }</span>
      </div>
      <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--6-col" style="padding:16px">
        <div class="mdl-grid" style="padding:0; margin:-8px">
          <md-input value.bind="user.name.first" class="mdl-cell mdl-cell--6-col" required>First Name</md-input>
          <md-input value.bind="user.name.last" class="mdl-cell mdl-cell--6-col" required>Last Name</md-input>
        </div>
        <md-input value.bind="user.email" type="email" pattern="[\w._]{2,}@\w{3,}\.(com|org|net|gov)" required>Email</md-input>
        <md-input value.bind="user.phone" type="tel" pattern="^\d{3}[.-]?\d{3}[.-]?\d{4}$" required>Phone</md-input>
        <md-input value.bind="user.password" required>Password</md-input>
        <md-checkbox checked.bind="accept" style="margin:8px 0 24px" required>I accept the terms of use</md-checkbox>
        <md-button raised color form disabled.bind="disabled" click.delegate="join()">Install</md-button>
        <md-loading value.bind="progress.last_seq/progress.update_seq * 100"></md-loading>
      </div>
    </form>
  </section>
  <md-snackbar ref="snackbar"></md-snackbar>
</template>
