<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-loading"></require>
  <require from="client/src/elems/form"></require>
  <section class="mdl-grid" style="margin-top:30vh;">
    <form md-shadow="2" class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--middle" style="width:100%; margin:-75px auto 0; padding:48px 96px 28px 96px; max-width:450px">
      <md-input name = "pro_phone" value.bind="phone" type="tel" pattern="^\d{3}[.-]?\d{3}[.-]?\d{4}$" required>Phone</md-input>
      <md-input name = "pro_password" value.bind="password" type="password" required minlength="4">Password</md-input>
      <md-button
        name = "pro_button"
        raised color form
        click.delegate="login()"
        disabled.bind="disabled"
        style="padding-top:16px">
        Login
      </md-button>
      <md-loading value.bind="progress.docs_read/progress.doc_count * 100"></md-loading>
      <p class="mdl-color-text--grey-600" style="margin-top:10px; height:20px; font-size:9px">${ progress.percent } ${ loading }</p>
    </form>
  </section>
  <md-snackbar ref="snackbar"></md-snackbar>
</template>
