<template>
  <require from='elems/md-shadow'></require>
  <require from='elems/md-drawer'></require>
  <require from='elems/md-table'></require>
  <require from="elems/md-input"></require>
  <require from="elems/md-checkbox"></require>
  <md-drawer>
    <md-input
      value.bind="filter"
      autoselect
      style="padding:0 8px; width:auto">
      Filter
    </md-input>
    <a
      repeat.for="day of days | filter:filter"
      class="mdl-navigation__link ${ day == $parent.day ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectDay(day)">
      <div class="mdl-typography--title">${ day }</div>
    </a>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <div md-shadow="2" class="mdl-card mdl-cell full-height" style="width:424px">
      <div class="mdl-card__title" style="padding-left:16px">
        <div class="mdl-card__title-text">
          Transaction History
        </div>
      </div>
      <div innerHTML.bind="history" class="mdl-grid" style="font-size:10px; font-family:Monaco; margin:0; padding:0 16px; white-space:pre; line-height:15px"></div>
    </div>
    <div md-shadow="2" class="mdl-card mdl-cell full-height" style="width:calc(100% - 424px - 32px)">
      <button id="import-export"
        style="position:absolute; z-index:2; text-align:right; top:5px; right:5px;"
        class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="import-export">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li
          show.bind="false"
          click.delegate="exportCSV()"
          class="mdl-menu__item">
          Export CSV
        </li>
        <li
          show.bind="true"
          disabled
          class="mdl-menu__item">
          Export CSV
        </li>
      </ul>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <div style="overflow-y:scroll; margin:8px 0px 8px 16px;">
        <table md-table style="width:calc(100% - 16px);">
          <thead>
            <tr>
              <th style="width:15px"></th>
              <th style="text-align:left;">Drug</th>
              <th style="text-align:left;">Ndc</th>
              <th style="text-align:left; width:5%;">Exp</th>
              <th style="width:5%">Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="transaction of transactions" class="${ $parent.transaction != transaction || 'is-selected'}" click.delegate="selectTransaction(transaction)">
              <td style="padding:0 0 0 8px">
                <md-checkbox
                  disabled.one-time="true"
                  checked.bind="transaction.verifiedAt">
                </md-checkbox>
              </td>
              <td style="text-align:left; white-space:normal;">
                ${ transaction.drug.generic }
              </td>
              <td style="text-align:left;">
                ${ transaction.drug._id + (transaction.drug.pkg ? '-'+transaction.drug.pkg : '') }
              </td>
              <td style="text-align:left;">
                ${ (transaction.exp.to || transaction.exp.from).slice(0, 10) }
              </td>
              <td>
                ${ transaction.qty.to || transaction.qty.from }
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>
