<template>
  <style>
    .mdl-layout__drawer {
      width:450px;
      transform: translateX(-550px);
      transition-duration: 0.5s;
    }
    .mdl-navigation__link--current a:hover {
      color:rgb(66, 66, 66) !important;
      font-weight:600;
    }
  </style>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from='client/src/elems/md-table'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-select"></require>
  <md-drawer>
    <md-select
      style="padding:11px 8px 0; width:auto; font-size:16px; margin-bottom:0"
      value.bind="record"
      property="label"
      options.bind="recordTypes">
    </md-select>
    <div style="padding-left:16px;">
      <div style="width:52px; display:inline-block;">Month/Day</div>
      <div style="width:90px; display:inline-block; text-align:right">Count</div>
      <div style="width:90px; display:inline-block; text-align:right">RXs</div>
      <div style="width:110px; display:inline-block; text-align:right">Value</div>
    </div>
    <div
      repeat.for="month of months"
      click.delegate="selectMonth(month)"
      class="mdl-navigation__link ${ month == $parent.month ? 'mdl-navigation__link--current' : ''}">
      <div style="width:52px; display:inline-block">${ month.date.slice(0, 7) }</div>
      <div style="width:90px; display:inline-block; text-align:right">${month.count[record.value].toFixed(0)}</div>
      <div style="width:90px; display:inline-block; text-align:right">${month.rxs[record.value].toFixed(0)}</div>
      <div style="width:110px; display:inline-block; text-align:right">${month.value[record.value].toFixed(0)}</div>
      <a
        class="mdl-navigation__link"
        style="padding:0;"
        if.bind="month == $parent.month"
        repeat.for="day of days"
        click.delegate="selectDay(day.date, $event)">
        <div style="width:52px; display:inline-block; text-align:right">${ day.date.slice(-2) }</div>
        <div style="width:90px; display:inline-block; text-align:right">${day.count[record.value].toFixed(0)}</div>
        <div style="width:90px; display:inline-block; text-align:right">${day.rxs[record.value].toFixed(0)}</div>
        <div style="width:110px; display:inline-block; text-align:right">${day.value[record.value].toFixed(0)}</div>
      </a>
    </div>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <div md-shadow="2" class="mdl-card mdl-cell full-height" style="width:424px">
      <div class="mdl-card__title" style="padding-left:16px">
        <div class="mdl-card__title-text">
          Transaction History
        </div>
      </div>
      <div innerHTML.bind="history" class="mdl-grid" style="font-size:10px; font-family:Monaco; margin:0; padding:0 16px; white-space:pre; line-height:15px"></div>
    </div>
    <div md-shadow="2" class="mdl-card mdl-cell full-height" style="width:calc(100% - 424px - 32px)">
      <button id="import-export"
        style="position:absolute; z-index:2; text-align:right; top:5px; right:5px;"
        class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="import-export">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li
          show.bind="false"
          click.delegate="exportCSV()"
          class="mdl-menu__item">
          Export CSV
        </li>
        <li
          show.bind="true"
          disabled
          class="mdl-menu__item">
          Export CSV
        </li>
      </ul>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <div class="table-wrap">
        <table md-table>
          <thead>
            <tr>
              <th style="width:15px"></th>
              <th style="text-align:left;">Drug</th>
              <th style="text-align:left;">Ndc</th>
              <th style="text-align:left; width:5%;">Exp</th>
              <th style="width:5%">Qty</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="transaction of transactions" class="${ $parent.transaction != transaction || 'is-selected'}" click.delegate="selectTransaction(transaction)">
              <td style="padding:0 0 0 8px">
                <md-checkbox
                  disabled.one-time="true"
                  checked.bind="transaction.verifiedAt">
                </md-checkbox>
              </td>
              <td style="text-align:left; white-space:normal;">
                ${ transaction.drug.generic }
              </td>
              <td style="text-align:left;">
                ${ transaction.drug._id + (transaction.drug.pkg ? '-'+transaction.drug.pkg : '') }
              </td>
              <td style="text-align:left;">
                ${ (transaction.exp.to || transaction.exp.from).slice(0, 10) }
              </td>
              <td>
                ${ transaction.qty.to || transaction.qty.from }
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>
