<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from='client/src/elems/md-table'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-switch"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-menu"></require>
  <require from="client/src/elems/md-autocomplete"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/form"></require>
  <md-drawer autofocus>
    <md-input
      id="drawer_filter"
      name = "pro_filter_input"
      value.bind="filter"
      autoselect
      style="padding:0 8px; width:auto">
      ${instructionsText}
    </md-input>
    <!-- <md-switch
      checked.one-way="role.account == 'to'"
      click.delegate="swapRole()"
      style="margin:-33px 0 0 185px;">
    </md-switch> -->
    <a
      name = "new_shipment"
      if.bind=" ! filter"
      class="mdl-navigation__link ${ ! shipmentId ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectShipment(null, true)">
      <div class="mdl-typography--title">New Shipment</div>
      or add inventory
    </a>
    <a
      name = "pro_shipments"
      repeat.for="shipment of shipments[role.shipments] | shipmentFilter:filter"
      class="mdl-navigation__link ${ shipment._id == shipmentId ? 'mdl-navigation__link--current' : ''}"
      click.delegate="selectShipment(shipment, true)">
      <div class="mdl-typography--title" innerHtml.bind="shipment.account[role.accounts].name | bold:filter"></div>
      <div style="font-size:12px" innerHtml.bind="shipment._id.slice(11, 21)+', '+(shipment.tracking.slice(-6) || shipment.tracking) | bold:filter"></div>
    </a>
    <md-select
      name = "pro_year_choice"
      change.delegate="refocusWithNewShipments()"
      input.delegate="gatherShipments() & debounce:100"
      style="font-size: 20px; width:45px; margin:auto"
      value.bind="shipmentDrawerYear"
      options.bind="shipmentDrawerYearChoices">
    </md-select>
  </md-drawer>
  <section class="mdl-grid au-animate">
    <form md-shadow="2" class="mdl-card mdl-cell mdl-cell--3-col full-height">
      <div class="mdl-card__title" style="display:block;">
        <div class="mdl-card__title-text" style="text-transform:capitalize">
          ${ shipment._rev ? 'Shipment '+(shipment.tracking.slice(-6) || shipment.tracking) : 'New Shipment '+role.accounts+' You' }
        </div>
        <div style="margin-top:3px; margin-bottom:-25px">
          <strong>${transactions.length}</strong> items worth
          <strong>$${ transactions | value:0:transactions.length }</strong>
        </div>
      </div>
      <div class="mdl-card__supporting-text" style="font-size:16px;">
        <md-select
          if.bind="role.shipments == 'from' || shipment._rev"
          change.delegate="setCheckboxes()"
          style="width:100%"
          value.bind="shipment"
          default.bind="{tracking:'New Tracking #', account:{from:account, to:account}}"
          options.bind="shipments[role.shipments]"
          property="tracking">
          Tracking #
        </md-select>
        <md-input
          name = "pro_tracking_input"
          if.bind="role.shipments == 'to' && ! shipment._rev"
          focusin.delegate="setCheckboxes()"
          autofocus
          required
          style="width:100%"
          pattern="[a-zA-Z\d]{6,}"
          value.bind="shipment.tracking">
          Tracking #
        </md-input>
        <md-select
          name = "pro_from_option"
          style="width:100%;"
          value.bind="shipment.account.from"
          options.bind="(role.accounts == 'to' || shipment._rev) ? [shipment.account.from] : accounts[role.accounts]"
          property="name"
          required
          disabled.bind="role.accounts == 'to'">
          <!-- disabled is for highlighting the current role -->
          From
        </md-select>
        <md-select
          style="width:100%;"
          value.bind="shipment.account.to"
          options.bind="(role.accounts == 'from' || shipment._rev) ? [shipment.account.to] : accounts[role.accounts]"
          property="name"
          required
          disabled.bind="role.accounts == 'from'">
          <!-- disabled is for highlighting the current role -->
          To
        </md-select>
        <md-select
          style="width:32%;"
          value.bind="shipment.status"
          options.bind="stati"
          disabled.bind="! shipment._rev">
          Status
        </md-select>
        <md-input
          type="date"
          style="width:64%; margin-top:20px"
          value.bind="shipment[shipment.status+'At']"
          disabled.bind="! shipment._rev"
          input.delegate="saveShipment() & debounce:1500">
        </md-input>
        <!-- <md-select
          style="width:100%"
          value.bind="attachment.name"
          change.delegate="getAttachment()"
          options.bind="['','Shipping Label', 'Manifest']"
          disabled.bind=" ! shipment._id || shipment._id != tracking._id">
          Attachment
        </md-select>
        <md-button color
          if.bind="attachment.name"
          click.delegate="upload.click()"
          style="position:absolute; right:18px; margin-top:-48px; height:24px; line-height:24px"
          disabled.bind=" ! shipment._id || shipment._id != tracking._id">
          Upload
        </md-button>
        <input
          type="file"
          ref="upload"
          change.delegate="setAttachment(upload.files[0])"
          style="display:none">
        <div if.bind="attachment.url" style="width: 100%; padding-top:56px; padding-bottom:129%; position:relative;">
          <embed
            src.bind="attachment.url"
            type.bind="attachment.type"
            style="position:absolute; height:100%; width:100%; top:0; bottom:0">
        </div> -->
        <!-- The above padding / positioning keeps a constant aspect ratio for the embeded pdf  -->
      </div>
      <div class="mdl-card__actions">
        <md-button color raised form
          name = "pro_create_button"
          ref="newShipmentButton"
          style="width:100%"
          show.bind="shipment._id == shipmentId && ! shipment._rev"
          click.delegate="createShipment()">
          New Shipment Of ${ diffs.length || 'No' } Items
        </md-button>
        <md-button color raised
          ref="moveItemsButton"
          style="width:100%"
          show.bind="shipment._id != shipmentId"
          disabled.bind="! diffs.length || ! shipment.account.to._id"
          click.delegate="shipment._rev ? moveTransactionsToShipment(shipment) : createShipment()">
          Move ${ diffs.length } Items
        </md-button>
      </div>
    </form>
    <div md-shadow="2" class="mdl-card mdl-cell mdl-cell--9-col full-height">
      <!-- disabled.bind="! searchReady" -->
      <md-autocomplete
        name = "pro_searchbar"
        value.bind="term"
        input.delegate="search() & debounce:50"
        keydown.delegate="autocompleteShortcuts($event) & debounce:50"
        style="margin:0px 24px">
        <table md-table>
          <tr
            repeat.for="drug of drugs"
            click.delegate="addTransaction(drug)"
            class="${ drug._id == $parent.drug._id && 'is-selected'}">
            <td innerHTML.bind="drug.generic | bold:term" style="white-space:normal;" class="mdl-data-table__cell--non-numeric" ></td>
            <td innerHTML.bind="drug.labeler" style="width:1%" class="mdl-data-table__cell--non-numeric" ></td>
            <td innerHTML.bind="drug._id + (drug.pkg ? '-'+drug.pkg : '')" style="width:1%" class="mdl-data-table__cell--non-numeric" ></td>
          </tr>
        </table>
      </md-autocomplete>
      <md-menu style="position:absolute; z-index:2; top:10px; right:5px;">
        <!-- workaround for boolean attributes https://github.com/aurelia/templating/issues/76 -->
        <li
          show.bind="transactions.length"
          click.delegate="exportCSV()">
          Export CSV
        </li>
        <li
          show.bind="!transactions.length"
          disabled>
          Export CSV
        </li>
        <li
          show.bind="role.accounts != 'to' || shipment._rev"
          click.delegate="$file.click()">
          Import CSV
        </li>
        <li
          show.bind="role.accounts == 'to' && ! shipment._rev"
          disabled>
          Import CSV
        </li>
      </md-menu>
      <input ref="$file" change.delegate="importCSV()" style="display:none" type="file" />
      <div class="table-wrap">
        <table md-table>
          <thead>
            <tr>
              <th style="width:56px"></th>
              <th class="mdl-data-table__cell--non-numeric" style="padding-left:0">Drug</th>
              <th style="width:100px;" class="mdl-data-table__cell--non-numeric">Ndc</th>
              <th style="width:40px; padding-left:0; padding-right:0px">Value</th>
              <th style="text-align:left; width:60px;">Exp</th>
              <th style="text-align:left; width:60px">Qty</th>
              <!-- 84px account for the 24px of padding-right on index.html's css td:last-child -->
              <th style="text-align:left; width:84px;">Bin</th>
            </tr>
          </thead>
          <tbody>
            <tr style="padding-top:7px;" name = "pro_transaction" repeat.for="transaction of transactions" input.delegate="saveTransaction(transaction) & debounce:1500">
              <td style="padding:0 0 0 8px">
                <!-- if you are selecting new items you received to add to inventory, do not confuse these with the currently checked items -->
                <!-- if you are selecting items to move to a new shipment, do not allow selection of items already verified by recipient e.g do not mix saving new items and removing old items, you must do one at a time -->
                <!-- since undefined != false we must force both sides to be booleans just to show a simple inequality. use next[0].disposed directly rather than isChecked because autocheck coerces isChecked to be out of sync -->
                <md-checkbox
                  name = "pro_checkbox"
                  click.delegate="manualCheck($index)"
                  disabled.bind=" ! moveItemsButton.offsetParent && ! newShipmentButton.offsetParent && transaction.isChecked && transaction.next[0]"
                  checked.bind="transaction.isChecked">
                </md-checkbox>

              </td>
              <td click.delegate="focusInput('#exp_'+$index)" class="mdl-data-table__cell--non-numeric" style="padding-left:0; overflow:hidden">
                ${ transaction.drug.generic & oneTime }
              </td>
              <td click.delegate="focusInput('#exp_'+$index)" class="mdl-data-table__cell--non-numeric" style="padding:0">
                ${ transaction.drug._id + (transaction.drug.pkg ? '-'+transaction.drug.pkg : '') & oneTime }
              </td>
              <td style="padding:0">
                ${ transaction | value:2:transaction.qty[role.shipments] }
              </td>
              <td style="padding:0">
                ${ transaction.exp[role.accounts] | date & oneTime }
                <md-input
                  name = "pro_exp"
                  id.bind="'exp_'+$index"
                  required
                  keydown.delegate="expShortcutsKeydown($event, $index)"
                  input.trigger="expShortcutsInput($index)"
                  disabled.bind="transaction.isChecked && transaction.next[0]"
                  pattern="(0?[1-9]|1[012])/(1\d|2\d)"
                  value.bind="transaction.exp[role.shipments] | date"
                  style="width:40px; margin-bottom:-8px"
                  placeholder>
                </md-input>
              </td>
              <td style="padding:0">
                ${ transaction.qty[role.accounts] & oneTime }
                  <!-- input event is not triggered on enter, so use keyup for qtyShortcutes instead   -->
                  <!-- keyup rather than keydown because we want the new quantity not the old one -->
                  <md-input
                    name = "pro_qty"
                    id.bind="'qty_'+$index"
                    required
                    keydown.delegate="qtyShortcutsKeydown($event, $index)"
                    input.trigger="qtyShortcutsInput($event, $index)"
                    disabled.bind="transaction.isChecked && transaction.next[0]"
                    type="number"
                    value.bind="transaction.qty[role.shipments] | number"
                    style="width:40px; margin-bottom:-8px"
                    max.bind="3000"
                    placeholder>
                  </md-input>
              </td>
              <!-- disable if not checked because we don't want a red required field unless we are keeping the item -->
              <td style="padding:0">
                <md-input
                  name = "pro_bin"
                  id.bind="'bin_'+$index"
                  required
                  disabled.bind=" ! transaction.isChecked || transaction.next[0] || shipment._id != shipmentId"
                  keyup.delegate="setBin(transaction) & debounce:1500"
                  keydown.delegate="binShortcuts($event, $index)"
                  pattern.bind="shipment._rev ? '[A-Za-z][0-6]\\d{2}' : '[A-Za-z][0-6]?\\d{2}'"
                  maxlength.bind="4"
                  value.bind="transaction.bin"
                  style="width:40px; margin-bottom:-8px; font-family:PT Mono; font-size:12.5px"
                  placeholder>
                </md-input>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <md-snackbar ref="snackbar"></md-snackbar>
    <dialog ref="dialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Drug Warning</h4>
    <div class="mdl-dialog__content">${drug.warning}</div>
    <div class="mdl-dialog__actions">
      <md-button click.delegate="dialogClose()">Close</md-button>
    </div>
  </dialog>
  </section>
</template>
