<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from='client/src/elems/md-table'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-switch"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-autocomplete"></require>
  <require from="client/src/elems/md-menu"></require>
  <require from="client/src/elems/form"></require>

  <style>
    .mdl-button:hover { background-color:initial }
    .mdl-badge[data-badge]:after { font-size:9px; height:14px; width:14px; top:1px}
  </style>

  <section class="mdl-grid au-animate">

    <div if.bind = "!orderSelectedToShop">
      <md-input
        autoselect
        value.bind="pendedFilter"
        style="padding-bottom:30px; width:auto">
        Select Group
      </md-input>

      <div repeat.for="pend of pended | pendedFilter:pendedFilter">
        <div
          click.delegate="selectGroup(pend.locked, pend.key)"
          class="mdl-typography--title ${ term == 'Pended '+pend.key ? 'mdl-navigation__link--current' : ''}"
          style="font-size:30px; font-weight:600; cursor:pointer; color: ${pend.locked ? '#919191' : (pend.priority ? '#14c44c' : 'black')}; padding-bottom:50px">
          ${pend.key}
        </div>
      </div>
    </div>

    <div style="width:100%; position:relative" if.bind = "orderSelectedToShop">

      <div style="width:100%; display:inline-block; padding-bottom:5px">
         <md-input  type="tel" style="float:left; font-size:20px; width:40%" value.bind = "shopList[shoppingIndex].extra.basketNumber">Basket Number</md-input>
         <md-button style="float:right" color click.delegate="cancelShopping()">Cancel</md-button>
      </div>

      <div style="width:100%;">
        <div style="font-size:30px; line-height:35px; padding-bottom:30px">${shopList[shoppingIndex].raw.drug.generic}</div>
        <div style="font-size:30px;  padding-bottom:30px" if.bind = "shopList[shoppingIndex].raw.drug.brand.length > 0">${shopList[shoppingIndex].raw.drug.brand}</div>
      </div>

      <div style="width:100%;display:inline-block; text-align:center; padding-bottom:20px">

        <div style="float:left; text-align:left; width:50%; vertical-align:middle">
          <div style="font-size:55px; padding-bottom:30px">${shopLit[shoppingIndex].raw.bin.length == 3 ? shopList[shoppingIndex].raw.bin : (shopList[shoppingIndex].raw.bin.slice(0,3) + '-' + shopList[shoppingIndex].raw.bin.slice(3,4))}</div>
          <div style="font-size:20px;padding-bottom:7px"><b>Qty:</b> ${shopList[shoppingIndex].raw.qty.to}</div>
          <div style="font-size:20px"><b>Exp:</b> ${formatExp(shopList[shoppingIndex].raw.exp.to)}</div>
        </div>
        <img
          style="height:50%;width:50%;float:right"
          if.bind="shopList[shoppingIndex].extra.image"
          src.bind="shopList[shoppingIndex].extra.image"/>
      </div>

      <div style="width:100%;display:inline-block; padding-bottom:10px">
        <div style="width:50%; float:left">
          <div style="font-size:20px;word-wrap:break-word; padding-bottom:10px"><b>Group:</b> ${shopList[shoppingIndex].raw.next[0].pended.group}</div>
          <div style="font-size:20px; padding-bottom:10px">Item <b>${shoppingIndex+1}</b> of <b>${shopList.length}</b></div>
          <div style="font-size:20px; padding-bottom:10px">Drug <b>${uniqueDrugsInOrder.indexOf(shopList[shoppingIndex].raw.drug.generic)+1}</b> of <b>${uniqueDrugsInOrder.length}</b></div>
        </div>
        <div style="width:50%; float:right">
          <div><md-checkbox style= "font-size:25px; padding-bottom:7px" name = "exact_match" click.delegate="selectShoppingOption('exact_match')" checked.bind="shopList[shoppingIndex].extra.outcome.exact_match">Exact Match</md-checkbox></div>
          <div><md-checkbox style= "font-size:25px; padding-bottom:7px" name = "roughly_equal" click.delegate="selectShoppingOption('roughly_equal')" checked.bind="shopList[shoppingIndex].extra.outcome.roughly_equal">+/-3 Qty</md-checkbox></div>
          <div><md-checkbox style= "font-size:25px; padding-bottom:7px" name = "outcomeThree" click.delegate="selectShoppingOption('slot_before')" checked.bind="shopList[shoppingIndex].extra.outcome.slot_before">Slot Before</md-checkbox></div>
          <div><md-checkbox style= "font-size:25px; padding-bottom:7px" name = "outcomeFour" click.delegate="selectShoppingOption('slot_after')" checked.bind="shopList[shoppingIndex].extra.outcome.slot_after">Slot After</md-checkbox></div>
          <div><md-checkbox style= "font-size:25px; padding-bottom:7px" name = "outcomeFive" click.delegate="selectShoppingOption('missing')" checked.bind="shopList[shoppingIndex].extra.outcome.missing">Missing</md-checkbox></div>
        </div>
      </div>

      <div style="width:100%;display:inline-block; bottom:0">
        <div style="float:left">
          <md-button style="float:left" color raised show.bind="shoppingIndex>0"click.delegate="moveShoppingBackward()">Back</md-button>
        </div>

        <div style="float:right" >
          <md-button style="float:right" disabled.bind="!formComplete" color raised click.delegate="moveShoppingForward()">${nextButtonText}</md-button>
        </div>
      </div>

      <div>
        <md-snackbar ref="snackbar"></md-snackbar>
      </div>

    </div>

  </section>
</template>
