<template>
  <require from='client/src/elems/md-shadow'></require>
  <require from='client/src/elems/md-drawer'></require>
  <require from='client/src/elems/md-table'></require>
  <require from="client/src/elems/md-input"></require>
  <require from="client/src/elems/md-select"></require>
  <require from="client/src/elems/md-button"></require>
  <require from="client/src/elems/md-switch"></require>
  <require from="client/src/elems/md-snackbar"></require>
  <require from="client/src/elems/md-checkbox"></require>
  <require from="client/src/elems/md-autocomplete"></require>
  <require from="client/src/elems/md-menu"></require>
  <require from="client/src/elems/form"></require>

  <style>
    .mdl-button:hover { background-color:initial , overflow-y:scroll}
    .mdl-badge[data-badge]:after { font-size:9px; height:14px; width:14px; top:1px}
  </style>


  <section class="mdl-grid au-animate" style="overflow-y:scroll">

    <div if.bind = "!orderSelectedToShop" style="overflow-y:scroll; height:100vh; width:100vw">
      <md-input
        autoselect
        value.bind="pendedFilter"
        style="padding-bottom:30px; width:auto">
        Select Group
      </md-input>

      <div repeat.for="pend of groups | pendedFilter:pendedFilter">
        <div
          click.delegate="selectGroup(pend.locked, pend.name)"
          class="mdl-typography--title ${ term == 'Pended '+pend.name ? 'mdl-navigation__link--current' : ''}"
          style="font-size:30px; font-weight:600; cursor:pointer; color: ${pend.locked ? '#919191' : (pend.priority ? '#14c44c' : 'black')}; padding-bottom: 50px;">
          ${pend.name}
          <md-button if.bind="pend.locked" style="float:right; height:15px; line-height:10px" color="accent" raised click.delegate="unlockGroup(pend.name)">${pend.locked == 'unlocking' ? '...unlocking...' : 'unlock'}</md-button>
        </div>
        <div if.bind = "pend.end_of_stack" style = "line-height:50px; padding-bottom:50px"><b>------1000 ITEM MARKER----</b></div>
      </div>
    </div>

    <div if.bind = "orderSelectedToShop">

      <div if.bind = "!groupLoaded" style="margin-top:40vh; margin-left:35vw; font-size:5vh">
        Loading...
      </div>

      <div if.bind = "groupLoaded && !basketSaved" style="width:100vw; height:100vh; display:inline-block; overflow-y:scroll">
        <div style="position:absolute; top:12vh; width:100%">
          <div style="font-size:30px; line-height:10vh">Enter new basket number:</div>
          <div stlye="float:left"><md-input  type="tel" style="float:left; font-size:4vh; width:70%;" value.bind = "shopList[shoppingIndex].extra.basketNumber">Basket Number</md-input></div>
          <div style="float:right; padding-right:7vw; margin-top:2vh"><md-button color raised click.delegate="saveBasketNumber()">Save</md-button></div>
        </div>
      </div>

      <div style="width:100vw; height:100vh; position:relative; overflow-y:scroll" if.bind = "groupLoaded && basketSaved">

        <div style="width:100%; display:inline-block; padding-bottom:5px">
           <md-button style="float:right; height:25px" color click.delegate="pauseShopping(shopList[shoppingIndex].raw.next[0].pended.group)">Pause</md-button>
           <md-button style="float:left; height:25px" color click.delegate="skipItem()">Skip</md-button>
        </div>

        <div style="width:100%;">
          <div style="font-size:4.6vh; line-height:5vh;">${shopList[shoppingIndex].raw.drug.generic}</div>
          <div style="font-size:20px; line-height:25px;" if.bind = "shopList[shoppingIndex].raw.drug.brand.length > 0">${shopList[shoppingIndex].raw.drug.brand}</div>
        </div>

        <div style="width:100%;display:inline-block; text-align:center;">

          <div style="float:left; text-align:left; height:100%;vertical-align:middle">
            <div style="font: 400 65px system-ui serif; line-height:60px; padding-bottom:15px; margin-top:20px;"><b>${shopList[shoppingIndex].raw.bin.length == 3 ? shopList[shoppingIndex].raw.bin : (shopList[shoppingIndex].raw.bin.slice(0,3) + '-' + shopList[shoppingIndex].raw.bin.slice(3,4))}</b></div>
            <div style="font-size:30px;padding-bottom:7px"><b>Qty:</b> ${shopList[shoppingIndex].raw.qty.to}</div>
            <div style="font-size:20px"><b>Exp:</b> ${formatExp(shopList[shoppingIndex].raw.exp.to)}</div>
          </div>
          <img
            style="height:50%;width:50%;float:right"
            if.bind="shopList[shoppingIndex].extra.image"
            src.bind="shopList[shoppingIndex].extra.image"/>
        </div>

        <div style="width:100%;display:inline-block; padding-bottom:1vh">
          <div style="width:50%; float:left">
            <div style="font-size:20px; line-height:25px; margin-top:20px;word-wrap:break-word; padding-bottom:10px"><b>Group:</b> ${shopList[shoppingIndex].raw.next[0].pended.group}</div>
            <div style="font-size:20px; line-height:25px; padding-bottom:10px">Item <b>${shoppingIndex+1}</b> of <b>${shopList.length}</b></div>
            <div style="font-size:20px; line-height:25px; padding-bottom:10px">Drug <b>${shopList[shoppingIndex].extra.genericIndex.index}</b> of <b>${shopList[shoppingIndex].extra.genericIndex.total}</b></div>
            <div style="font-size:20px; line-height:25px; padding-bottom:10px">Basket: <b>${shopList[shoppingIndex].extra.basketNumber}</b></div>
            <div style="font-size:15px; line-height:15px; padding-bottom:10px">NDC: ${shopList[shoppingIndex].raw.drug._id}</div>
          </div>
          <div style="width:50%; float:right">
            <div style="font-size:4vh; padding-bottom:1.5vh"><md-checkbox name = "exact_match" click.delegate="selectShoppingOption('exact_match')" checked.bind="shopList[shoppingIndex].extra.outcome.exact_match"></md-checkbox>Exact Match</div>
            <div style="font-size:4vh; padding-bottom:1.5vh"><md-checkbox name = "roughly_equal" click.delegate="selectShoppingOption('roughly_equal')" checked.bind="shopList[shoppingIndex].extra.outcome.roughly_equal"></md-checkbox>+/-3 Qty</div>
            <div style="font-size:4vh; padding-bottom:1.5vh"><md-checkbox name = "outcomeThree" click.delegate="selectShoppingOption('slot_before')" checked.bind="shopList[shoppingIndex].extra.outcome.slot_before"></md-checkbox>Slot Before</div>
            <div style="font-size:4vh; padding-bottom:1.5vh"><md-checkbox name = "outcomeFour" click.delegate="selectShoppingOption('slot_after')" checked.bind="shopList[shoppingIndex].extra.outcome.slot_after"></md-checkbox>Slot After</div>
            <div style="font-size:4vh;"><md-checkbox name = "outcomeFive" click.delegate="selectShoppingOption('missing')" checked.bind="shopList[shoppingIndex].extra.outcome.missing"></md-checkbox>Missing</div>
          </div>
        </div>

        <div style="width:100%;display:inline-block; bottom:0">
          <div style="float:left">
            <md-button style="float:left" color raised show.bind="shoppingIndex>0"click.delegate="moveShoppingBackward()">Back</md-button>
          </div>

          <div style="float:right" >
            <md-button style="float:right" disabled.bind="!formComplete" color raised click.delegate="moveShoppingForward()">${nextButtonText}</md-button>
          </div>
        </div>


        <div style="margin:auto; font-size:7px">
          ${shopList[shoppingIndex].raw._id}
        </div>

        <div>
          <md-snackbar ref="snackbar"></md-snackbar>
        </div>

      </div>
    </div>

  </section>
</template>
